*{
    font-family: 'roboto';
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
}

#logo{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-left: 10vw;
    margin-top: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.container.vert{
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    margin: 5vh 0px 5vh 10vw;
    min-height: 40vh;
}

.container.dark{
    background-color: #1F2937;
    color: #F9FAF8;
}

.container.copy{
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 3vh 10vw;
    font-size: 18px;
}

.container.light{
    color: #1F2937;
    flex-direction: column;
}

.container.grey{
    background-color: grey;
    color: #E5E7EB;
}

.container.blue{
    background-color: #3882F6;
    margin: 10vh 10vw;
    border-radius: 7px;
    padding: 10vh 10vw;
}

.container.text{
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.calling{
    color: #F9FAF8;
    font-size: 38px;
    text-align: left;
    font-weight: bolder;
}

.calling.you{
    font-size: 18px;
    color: #E5E7EB;
}

.container.quote{
    background-color: #E5E7EB;
    flex-direction: column;
    
}

.container div{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#links{
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 10vw;
    margin-top: 10px;
    justify-content: right;
}

#main{
    font-size: 48px;
    font-weight: bolder;
}

.sub{
    color: #E5E7EB;
    font-size: 18px;
    text-align: left;
}

.sub.me{
    color: grey;
    text-align: center;
}

#image{
    margin: 5vh 10vw 5vh 0px;
    justify-content: center;
}

#image p{
    align-items: center;
}

#header{
    font-size: 36px;
    font-weight: bolder;
    margin: 10px 0 10px 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    border: 2px solid #3882F6;
}

.white button{
    border: 2px solid #F9FAF8;
}

.box{
    min-height: 150px;
    min-width: 150px;
    border: 4px solid #3882F6;
    border-radius: 7px;
}

#quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    padding: 10vh 20vw 0 20vw;
}

#author{
    color: #1F2937;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
    padding: 0 20vw 10vh 20vw;
}